.ant-tabs-left > .ant-tabs-nav {
    width: 50%;
    }
.ant-modal-content {
    border: 0;
    border-radius: 7px !important;
    overflow: hidden !important;
}
.ant-modal-title {
    color: #000;
    font-weight: 500;
    font-size: 20px;
}
.ant-modal-header {
     border-bottom: 0 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-size: 16px;
    color: #096dd9;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
    font-size: 16px;
    color: #096dd9;
}
.ant-modal-footer {
    border-top: 0;
    text-align: left;
}
.ant-tabs-tabpane .ant-input-affix-wrapper {
    border: 1px solid #d9d9d9 !important;
    border-radius: 7px;
    font-weight: 600;
}
.search-bar {
    width: 200px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
.ant-input-affix-wrapper > input.ant-input {
    font-size: 16px;
    font-weight: bold;
}
.ant-radio-wrapper {
    padding-bottom: 40px;
    color: #000;
    font-size: 16px;
    }
.ant-radio-checked .ant-radio-inner {
    background-color: #096dd9;
    border-color:#096dd9;
}
<style>
.ant-radio-checked .ant-radio-inner::after {
    background-color: #096dd9;
}