#row_div {
    background: #fff;
    height: 40px;
    padding: 10px 0;
    margin: 30px 0px 1px 0px !important;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-align:left;
}
.ant-table-thead > tr > th {
    color: rgb(122, 134, 154);
    font-weight: 500;
    text-align: left;
    background: #fff;
    padding: 12px 10px 12px 15px !important;
}
.ant-table-tbody > tr > td {
    padding: 12px 10px 12px 15px !important;
    font-size: 15px;
    font-weight: bold;
    vertical-align:top;
}
.upper_text{
margin-bottom:0;
}
.lower_text{
font-size:13px;
    font-weight: normal;
}